
.Toggle-Admin {
   background-color: #5e92c9;
   border-color: #007bff;
   color: white;
}

.Toggle-Driver {
   background-color: #59bf71;
   border-color: #28a745;
   color: white;
}

.Toggle-Rider {
   background-color: #aa5ec3;
   border-color:#b235dc;
   color: white;
}